#logo img{
    width: 20%;
    /*height: auto;  Maintains the aspect ratio of the image */
}
#logo1 img{
    width: 30%;
    height: auto;
}
.header_nav{
    width: 100%;
    display: flex;
    position: relative;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.header_nav a:hover{
    color: #1a9988;
}
.header_nav .links{
    display: flex;
    gap: 2rem;
}