{% extends 'web/turshilt/base.html' %} {% block content %}
{%load static%}
<main>
  <section class="pt-20 pb-10 bg-white" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2) url('{% static 'images/slider/about.png' %}') no-repeat center;
background-size: cover;">
  </section>
  <section class="py-lg-10">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="text-center">
          <img src="{% static 'images/icons/shield.svg' %}" alt="iso-27001" class="mb-3">
          <h1 class="mb-5">НӨМӨР КРЕДИТ-ИЙН <br> МЭДЭЭЛЛИЙН АЮУЛГҮЙ БАЙДЛЫН БОДЛОГО</h1>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4 mb-lg-0">
          <img src="{% static 'images/about/iso27001.png' %}" alt="iso-27001"
            class="img-fluid rounded-3 w-100 mb-2 mb-lg-0">
        </div>
        <div class="offset-lg-1 col-lg-5 col-md-12">
          <div class=" d-flex mb-3">
            <div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>Easy Loan Approvals</h3>
              <p>Харилцагч болон сонирхогч талуудын шаардлагад нийцсэн мэдээллийн аюулгүй, бүрэн бүтэн, хүртээмжтэй
                байдлыг хангасан
                удирдлагын тогтолцоог бий болгоно.
              </p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>Lowest Possible Prices</h3>
              <p>Салбарын болон олон улсын тэргүүн туршлага, стандартуудад байнга суралцаж мэдээллийн аюулгүй байдлын
                удирдлагын
                тогтолцоогоо тасралтгүй сайжруулна.</p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>Hassle free</h3>
              <p>SuspМэдээллийн аюулгүй байдлыг хангахын тулд шаардлагатай технологи, хүний нөөц болон санхүүгийн
                нөөцөөр тогтмол хангаж,
                дэвшилтэт технологийг ашиглан хэрэглэгчдэд мэргэжлийн түвшний үйлчилгээ үзүүлнэ.</p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>Secure Loan Processs</h3>
              <p>Залуу боловсон хүчний суралцах чадварт суурилан байгууллагад учирч болох мэдээллийн аюулгүй байдлын
                эрсдэлийг илрүүлэх,
                үнэлэх, бууруулж ажиллах дотоод хяналтыг тогтолцоог үр дүнтэй, үр ашигтай хэрэгжүүлж ажиллана.</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>Secure Loan Processs</h3>
              <p>Монгол улсын хууль, зохицуулагч байгууллагуудаас тогтоосон мэдээллийн аюулгүй байдлын шаардлагуудыг
                хангаж ажиллана.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mt-n6 bg-white mb-10 rounded-3 shadow-sm">
            <div class="p-5 p-lg-10">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h2 class="mb-4 text-center">Бид хэн бэ?</h2>
                  <p class="lead mb-4 text-center">
                    НЭГДМЭЛ ЭЕРЭГ ЦЭНЭГТЭЙ ХАМТ ОЛОН НӨМӨР
                  </p>
                </div>
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                  <div class="text-center pt-6 pb-1">
                    <h2>Эрхэм зорилго &amp; Нөөлөгтэй үйлчилгээ</h2>
                    <p>НӨМӨР КРЕДИТ ББСБ нь Санхүүгийн зохицуулах хорооны зээлийн үйл ажиллагааны тусгай
                      зөвшөөрөлтэйгээр байгуулагдсан
                      үндэсний хөрөнгө оруулалттай компани бөгөөд зээлийн үйл ажиллагааг хэрэглэгчдийн хүсэл сонирхол,
                      зан төлвийг судалсны
                      үндсэн дээр, шинэлэг үйлчилгээ болох цахимаар зээлийг хувийн зээлийн шугам, худалдан авалтын
                      зээлийн шугам, автомашины ,
                      оюутны гэсэн төрлүүдээр зээлийн үйчилгээг Хурдан, хялбар, уян хатан нөхцөлтэйгээр, хурдан
                      шуурхай хүргэж байна.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-lg-10 p-5">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                  <div class="text-center mb-4">
                    <h3 class="mb-2">Бидний Эрхэм зорилго</h3>
                    <p>
                      Технологийг хөгжүүлэх замаар хэрэглэгчид хүртээмжтэй, үр ашигтай, үр дүнтэй санхүүгийн шийдлийг
                      зөв цагт нь
                      зөв аргаар хүргэх.
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                  <div class="text-center mb-4">
                    <h3 class="mb-2">Бидний Үнэт Зүйлс</h3>
                    <p>
                      Шударга ёс зүйтэй байна. Тасралтгүй сайжруулна. Тууштай байна. Нэгдмэл эерэг цэнэгтэй хамт олны
                      нэг хэсэг байж ямагт
                      дэмжинэ. Тогтвортой хөгжинө. Шийдэлд төвлөрнө
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                  <div class="text-center mb-4">
                    <h3 class="mb-2">Бидний Философи</h3>
                    <p>
                      Брокк: “Авсаархан атлаа хүчтэй”
                    </p>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                  <div class="text-center mb-4">
                    <h3 class="mb-2">Бидний Уриа</h3>
                    <p>
                      Таны санхүүгийн нөмөр
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <div class="py-lg-20 py-10"
    style="background: linear-gradient(rgba(20, 30, 40, 0.5), rgba(20, 30, 40, 0.5)),
                        rgba(20, 30, 40, 0.5) url('{% static 'images/about/123.png' %}') no-repeat; background-size: cover; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-6 mb-md-0">
          <div class="text-center">
            <div class="counter fs-1 text-white fw-bold" data-count="105000">10000</div>
            <p class="text-white mt-2">гэрээ байгуулсан хэрэглэгчид</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-6 mb-md-0">
          <div class="text-center">
            <div class="counter fs-1 text-white fw-bold d-inline" data-count="1500">0</div>
            <span class="fs-1 text-white fw-bold ms-1">M</span>
            <p class="text-white text-center mt-2">Санхүүгийн үйлчилгээ</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-6 mb-md-0">
          <div class="text-center">
            <div class="counter fs-1 text-white fw-bold d-inline" data-count="92%">0</div><span
              class="fs-1 text-white fw-bold ms-1">%</span>
            <p class="text-white mt-2">Сэтгэл ханамж
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <section class="py-lg-16 py-16 container">
    <h2 class="display-4 mt-3">Гэрээ байгуулах цэгүүд </h2>
    <div id='map1' class="mapContainer img-responsive"></div>
  </section> -->
  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-5 col-12">
          <div class="mb-5 mb-lg-0">
            <h1>Зээл</h1>
            <p class="mb-6">
              Банк бус санхүүгийн байгууллагын зээлийн үйлчилгээ үзүүлэх тусгай зөвшөөрлийн дагуу иргэн, хуулийн
              этгээдэд “Numur”
              аппликейшн болон бусад эх сурвалжаар дамжуулан хэрэглээний зээл, автомашин худалдан авалтын зээл болон
              бусад зээлийн
              бүтээгдэхүүнүүдийг санал болгодог.
            </p>
            <h1>Итгэлцлийн үйлчилгээ</h1>
            <p class="mb-6">
              Санхүүгийн Зохицуулах Хорооны 2020 оны 11 дүгээр сарын 25-ны өдрийн 981 тоот шийдвэрээр Итгэлцлийн
              үйлчилгээ эрхлэх
              тусгай зөвшөөрлийг авсан. Уг тусгай зөвшөөрлийн үндсэн дээр иргэн, хуулийн этгээдээс Хөрөнгө итгэмжлэн
              удирдах гэрээний
              үндсэн дээр 6 буюу түүнээс дээш сарын хугацаатайгаар хөрөнгө татан төвлөрүүлж, үр шимийн хамт гэрээнд
              заасан хугацааны
              дараа эргүүлэн олгодог.
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-6 col-md-7 col-12">
          <div class="text-center">
            <img src="{% static 'images/about/ua.png' %}" class="w-100 rounded-4" alt="numur-about">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="fb-root"></div>
  <div class="fb-customerchat" attribution="page_inbox" page_id="292930488009631">
  </div>
</main>
{% endblock %}