{% extends 'web/turshilt/base.html' %} {% block content %}
{% load static %}
<main>
  <!-- banner -->
  <section class="muse-section py-lg-14 py-8 bg-gray">
    <div class="container">
        <div class="row align-items-center pb-5 g-0">
            <div class="col-lg-6 order-lg-2 text-lg-end mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <img src="{% static 'assets/images/slider/callcenter.png' %}" class="img-fluid" alt="Banner" width="960" height="300">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5" style="color: #1a9988;">Танд тусламж хэрэгтэй юу?</h1>
                <h4 class="big mt-3 text-gray-600 lh-lg">Танд асууж тодруулах зүйлс байвал харилцагчийн үйлчилгээний төв ажиллаж байна.</h4>
                <section class="muse-section perfection-section">
                    <div class="row g-0">
                        <div class="col-md-4 py-md-5 text-center">
                            <h4>Даваа-Баасан <br>09:00-18:00</h4>
                        </div>
                        <div class="col-md-4 py-md-5 text-center border-start">
                          <h1>7511 1133</h1>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </section>
  <!-- Зээлийн төрлүүд -->
  <section class="mb-5">
    <div class="container mt-lg-n14 mb-n15">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="row hero-compare-features">
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="{% url 'personal_line'%}" class="card text-center smooth-shadow-sm border-0 bg-white">
                <div class="card-body p-4">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="{% static 'assets/images/icon/numurplc.svg'%}" alt="numurplc">
                  </div>
                  <h4 class="mb-0">Зээлийн шугам</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="{% url 'leasing_line'%}" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="{% static 'assets/images/icon/numurpurchase.svg' %}" alt="numurpurchase">
                  </div>
                  <h4 class="mb-0">Лизингийн шугам</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="{% url 'auto'%}" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="{% static 'assets/images/icon/numurautoloan.svg' %}" alt="autocar">
                  </div>
                  <h4 class="mb-0">Автомашины зээл</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="{% url 'student'%}" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="{% static 'assets/images/icon/numurstudent.svg' %}" alt="student">
                  </div>
                  <h4 class="mb-0">Сургалтын төлбөрийн зээл</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="{% url 'farmer'%}" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="{% static 'assets/images/icon/numursustainable.svg' %}" alt="sustainable">
                  </div>
                  <h4 class="mb-0">Ногоон <br> зээл</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="{% url 'women'%}" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="{% static 'assets/images/icon/numurwomen.svg' %}" alt="women">
                  </div>
                  <h4 class="mb-0">Эмэгтэйчүүдийн зээл</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Заавар Видео -->
  <section class="py-lg-16 py-10 bg-white pb-0">
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 p-0">
          <div class="text-center">
            <h1 style="color: #1a9988;" class="text-uppercase p-0">Заавар Видео</h1>
          </div>
        </div>
      </div>
      <div class="p-0" style="display: flex; flex: wrap; align-items: center;">
        <div class="col-md-12 text-md-end pt-md-2 mb-4 p-0">
            <a href="https://www.youtube.com/@NumurCredit" class="btn btn-link link-dark p-0" target="_blank">Бүх видеог харах<svg class="ms-1"
                    data-name="icons/tabler/chevron right" xmlns="http://www.w3.org/2000/svg" width="10"
                    height="10" viewBox="0 0 16 16">
                    <rect data-name="Icons/Tabler/Chevron Right background" width="16" height="16" fill="none"></rect>
                    <path
                        d="M.26.26A.889.889,0,0,1,1.418.174l.1.086L8.629,7.371a.889.889,0,0,1,.086,1.157l-.086.1L1.517,15.74A.889.889,0,0,1,.174,14.582l.086-.1L6.743,8,.26,1.517A.889.889,0,0,1,.174.36Z"
                        transform="translate(4)" fill="#black"></path>
                </svg></a>
        </div>
    </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-md-5 col-12 mb-6 p-0">
          <div class="mb-5 mb-lg-0 p-0">
            <div style="display: flex; align-items: center;" class="mb-4">
              <span
                class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning fs-3">1</span>
              <h3 class="ml-3">Бүртгүүлэх заавар</h3>
            </div>
            <div class="col-6 col-lg-6 mt-1 p-0" data-aos="fade-up" data-aos-delay="100">
              <figure class="card border-0 transition-3d-hover mb-0 mb-md-3">
                  <div class="video-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/slThWLuIrnM"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                  </div>
              </figure>
          </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12 mb-6 p-0">
          <div class="mb-5 mb-lg-0 p-0">
            <div style="display: flex; align-items: center;" class="mb-4">
              <span
                class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning fs-3">2</span>
              <h3 class="ml-3">Хэрхэн 1 удаагийн гэрээ байгуулах вэ?</h3>
            </div>
            <div class="col-6 col-lg-6 mt-1 p-0" data-aos="fade-up" data-aos-delay="100">
              <figure class="card border-0 transition-3d-hover mb-0 mb-md-3">
                  <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-eaVtp8UORI?si=prvhQG89F8aRK2jJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
              </figure>
          </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12  mb-6 p-0">
          <div class="mb-5 mb-lg-0 p-0">
            <div style="display: flex; align-items: center;" class="mb-4">
              <span
                class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning fs-3">3</span>
              <h3 class="ml-3">Хэрхэн зээл авах вэ?</h3>
            </div>
            <div class="col-6 col-lg-6 mt-1 p-0" data-aos="fade-up" data-aos-delay="100">
              <figure class="card border-0 transition-3d-hover mb-0 mb-md-3">
                  <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Juro2lvjaXo?si=NZRSVOv3N8MLfZBl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
              </figure>
          </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12 mb-6 p-0">
          <div class="mb-5 mb-lg-0 p-0">
            <div style="display: flex; align-items: center;" class="mb-4">
              <span
                class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning fs-3">4</span>
              <h3 class="ml-3">Хэрхэн зээлээ төлөх вэ?</h3>
            </div>
            <div class="col-6 col-lg-6 mt-1 p-0" data-aos="fade-up" data-aos-delay="100">
              <figure class="card border-0 transition-3d-hover mb-0 mb-md-3">
                  <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8zqIjJ_FfY8?si=svSRmiuRV3kSiEDC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
              </figure>
          </div>
          </div>
        </div>
        <!-- <div class="offset-lg-1 col-lg-6 col-md-7 col-12">
        </div> -->
      </div>
    </div>
  </section>
  <!-- Түгээмэл асуулт хариулт -->
  <section class="py-lg-13 bg-grey">
    <!-- Хамгийн түгээмэл асуултууд -->
    <div class="container">
      <!-- Түгээмэл асуулт хариулт  -->
      <div class="row justify-content-between">
        <div class="col-lg-12 col-md-12 col-12 ">
          <div class="text-center">
            <h1 style="color: #1a9988;" class="text-uppercase p-0">Хамгийн түгээмэл асуултууд</h1>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="card q-card item mt-4 smooth-shadow-sm border-0 m-2 text-center" style="min-height: 260px;">
            <div class="p-5">
              <div class="mb-5 "> <img src="{% static 'images/icons/question.png' %}" alt="Түгээмэл асуулт хариулт" class="icon-xxxl">
              </div>
              <p class="fw-bold">Хэрхэн гэрээ байгуулах вэ?</p>
              <p class="answer">Орон нутагт болон хотын салбар мерчантууд, киоск болон цахимаар гэрээ байгуулах боломжтой. Салбарууд болон киоскийн байршлыг <a class="fw-semibold text-white" href="{% url 'contract'%}" target="_blank"><i>энд дарж</i></a> харна уу.</p>
              </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="card q-card item mt-4 smooth-shadow-sm border-0 m-2 text-center" style="min-height: 260px;">
            <div class="p-5">
              <div class="mb-5 "> <img src="{% static 'images/icons/problem.png' %}" alt="Түгээмэл асуулт хариулт" class="icon-xxxl">
              </div>
              <p class="fw-bold">Зээлийн эрх хаагдсан бол дахин нээлгэж болох уу?</p>
              <p class="answer">Та зээлийн мэдээллийн сан дээр хэвийн бус ангилалгүй мөн манайхаас авсан зээлээ 60с дээш хоног хугацаа хэтрүүлээгүй тохиолдолд таны зээл авах эрх дахин нээгдэх боломжтой.</p>
              </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="card q-card item mt-4 smooth-shadow-sm border-0 m-2 text-center" style="min-height: 260px;">
            <div class="p-5">
              <div class="mb-5 "> <img src="{% static 'images/icons/question_mark.png' %}" alt="Түгээмэл асуулт хариулт" class="icon-xxxl" >
              </div>
              <p class="fw-bold">Хэрхэн зээлийн эргэн төлөлт хийх вэ?</p>
              <p class="answer">Та Numur аппликейшн рүүгээ нэвтрэн төлбөр төлөх хэсэг дээр дарж qpay болон дансаар эргэн төлөлтөө хийх боломжтой.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mt-10 bg-white mb-10 rounded-3 shadow-sm p-5">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="text-center mb-3">
                  <h2 style="color: #1a9988;">Та аль нь вэ?</h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-around my-4">
              <div class="col-lg-3 col-md-4 mb-2 mb-lg-0 order-lg-1">
                <a class="card text-center smooth-shadow-sm border-0 bg-white " id="personal">
                  <div class="card-body whoisit p-4">
                    <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                      <img src="{% static 'images/icons/confused.png' %}" alt="question" class="icon-xxl">
                    </div>
                    <h4 class="mb-0">Хувь хүн</h4>
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 mb-2 mb-lg-0 order-lg-2">
                <a class="card text-center smooth-shadow-sm border-0 bg-white " id="merchant">
                  <div class="card-body p-4 whoisit">
                    <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                      <img src="{% static 'images/icons/search.png'%}" alt="question" class="icon-xl">
                    </div>
                    <h4 class="mb-0">Байгууллага</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="accordion" id="content">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Chat -->
  <section></section>
</main>
{% endblock %}