{% extends 'web/turshilt/base.html' %} {% block content %}
<main>
  <section class="bg-success bg-shape py-lg-14 py-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-9 col-12">
          <div class="text-center mb-8">
            <h1 class="text-white display-3">
              Танд туслах харилцагчийн төв ажиллаж байна.
            </h1>
            <p class="text-white">
              Даваа-Баасан 09:00-18:00 (+976)7511-1133
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mt-lg-n14 mt-n10">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="row hero-compare-features">
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="#!" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="../assets/images/numur/numurplc.svg" alt="numurplc">
                  </div>
                  <h4 class="mb-0">Зээлийн шугам</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="#!" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="../assets/images/numur/numurpurchase.svg" alt="numurpurchase">
                  </div>
                  <h4 class="mb-0">Лизингийн шугам</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="#!" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="../assets/images/numur/numurautoloan.svg" alt="autocar">
                  </div>
                  <h4 class="mb-0">Автомашины зээл</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="#!" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="../assets/images/numur/numurstudent.svg" alt="student">
                  </div>
                  <h4 class="mb-0">Сургалтын төлбөрийн зээл</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="#!" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="../assets/images/numur/numursustainable.svg" alt="sustainable">
                  </div>
                  <h4 class="mb-0">Ногоон <br> зээл</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-md-4 mb-2 mb-lg-0">
              <a href="#!" class="card text-center smooth-shadow-sm border-0 ">
                <div class="card-body p-4 px-3">
                  <div class="icon-shape bg-light-warning rounded-circle icon-xxl">
                    <img src="../assets/images/numur/numurwomen.svg" alt="women">
                  </div>
                  <h4 class="mb-0">Эмэгтэйчүүдийн зээл</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-5 col-12">
          <div class="mb-5 mb-lg-0">
            <span
              class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning mb-4 fs-3">1</span>
            <h1>Түгээмэл асуулт хариулт</h1>
            <p class="mb-6">
              Give us some details on the kind of loan you need and how
              you’ll use it. We’ll send your request out to our lender
              network, and within seconds, you’ll see competing offers.
            </p>
            <a href="#!" class="btn-link border-bottom border-primary border-2 fw-bold fs-5">Ready to Get Started</a>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-6 col-md-7 col-12">
          <div class="text-center">
            <img src="../assets/images/svg/graphics-1.svg" class="w-100"
              alt="Borrow - Loan Company Responsive Website Templates">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="py-lg-14 py-8">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-7 col-md-7 col-12">
            <div class="mb-5 mb-lg-0 text-center">
              <img src="../assets/images/svg/graphics-2.svg" class="w-100"
                alt="Borrow - Loan Company Responsive Website Templates">
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-12">
            <div>
              <span
                class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning mb-4 fs-3">2</span>
              <h1>Shop and Compare</h1>
              <p class="mb-6">
                This works just like shopping for a flight. Lenders are
                competing for your business, which means you get the most
                competitive offers. No markup from us.
              </p>
              <a href="#!" class="btn-link border-bottom border-primary border-2 fw-bold fs-5">Start Shopping</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-lg-14 py-8">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-5 col-md-5 col-12">
          <div class="mb-5 mb-lg-0">
            <span
              class="icon-shape icon-lg bg-transparent border rounded-circle border-warning text-warning mb-4 fs-3">3</span>
            <h1>May The Best Loan Win.</h1>
            <p class="mb-6">
              We make loan shopping easy. You can compare offers side by
              side, talk with loan officers to haggle, or in many cases,
              just apply online. Choose the loan that works best for you.
            </p>
            <a href="#!" class="btn-link border-bottom border-primary border-2 fw-bold fs-5">Find your best loan</a>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-6 col-md-7 col-12">
          <div class="text-center">
            <img src="../assets/images/svg/graphics-3.svg" class="w-100"
              alt="Borrow - Loan Company Responsive Website Templates">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mt-n6 bg-white mb-10 rounded-3 shadow-sm p-5">
            <div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                  <div class="mb-3">
                    <h2 class="mb-0">Түгээмэл асуулт хариулт</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                  <div class="accordion" id="Faqaccordionsone">
                    <div class="card mb-2">
                      <div class="p-3" id="faqOne">
                        <h4 class="mb-0">
                          <a href="#!" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <i class="fa fa-plus-circle me-1 "></i>
                            Зээлийн эрх хэзээ нэмэгдэж ордог вэ?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="faqOne"
                        data-bs-parent="#Faqaccordionsone">
                        <div class="card-body border-top">
                          Дараах тохиолдолд зээлийн эрх нэмэгдэнэ: Та нийт 3 ширхэг од цуглуулах хэрэгтэй бөгөөд манай
                          программ ашигласан зээлийн
                          хэмжээнээс хамааран автоматаар тооцоолох болно. Уг одыг хэрхэн авах вэ? :
                          <br>🔸Хуваарьт төлөлтөө хугацаанд нь хийсэн тохиолдолд
                          <br>🔸Зээлээ хаасан тохиолдолд / 15 ба түүнээс дээш хоног ашигласан байх/
                          <br>🔸Нэг зээл төлөлтөөс дараагын зээл төлөлт, нэг зээл хаалтаас дараагын зээл хаалтын
                          хооронд
                          хамгийн багадаа 15 ба түүнээс
                          дээш хоног байх хэрэгтэй .Та 3 од цуглуулсан тохиолдолд эрх нэмэх цэсэн дээр дарсанаар таны
                          зээлийн эрх нэмэгдэнэ.
                          Зээлийн хэмжээ хамгийн багадаа 50000 төгрөгөөр нэмэгдэнэ.
                        </div>
                      </div>
                    </div>
                    <div class="card mb-2">
                      <div class="p-3" id="faqTwo">
                        <h4 class="mb-0">
                          <a href="#!" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-plus-circle me-1 "></i>
                            Зээлийн эрх хаагдсан гэж дахин нээх боломжгүй юу?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="faqTwo"
                        data-bs-parent="#Faqaccordionsone">
                        <div class="card-body border-top">
                          Та 30-дээш зээлийн хугацаа хэтэрүүлсэн мөн ,ЗМС ангилал
                          өөрчлөгдсөн тохиолдолд эрх нээх боломжгүй юм.
                        </div>
                      </div>
                    </div>
                    <div class="card mb-2">
                      <div class="p-3" id="faqThree">
                        <h4 class="mb-0">
                          <a href="#!" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-plus-circle me-1 "></i>
                            Зээлийн хугацаа хэтэрсэн байгаа зээлээ хаагаад эргээд зээл авч болох уу?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="faqThree"
                        data-bs-parent="#Faqaccordionsone">
                        <div class="card-body border-top">
                          Та хугацаа хэтрүүлсэн байгаа учраас хэтэрсэн хоногоос
                          шалтгаалан зээл авах боломжтой үгүйг программ тооцоолдог байгаа , та Нөмөр
                          facebook чат, <span class="bold">contact@numurcredit.mn</span> гэсэн емайл хаягаар эрх
                          нээлгэх
                          хүсэлт илгээн
                          бид хүсэлт
                          илгээнэ, бид таны эрх нээх боломжтой үгүйг шалган эргэн хариу мэдэгдэх
                          болно.
                        </div>
                      </div>
                    </div>
                    <div class="card mb-2">
                      <div class="p-3" id="faqFour">
                        <h4 class="mb-0">
                          <a href="#!" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-plus-circle me-1 "></i>
                            Зээлийн хэмжээ арай их дүнгээр үүсэх боломжгүй юу?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="faqFour"
                        data-bs-parent="#Faqaccordionsone">
                        <div class="card-body border-top">
                          Боломжгүй ,таны хурууны хээг уншуулсанаар ндш төлөлт болон
                          бусад мэдээлэл дээрээс программ автоматаар зээлийн авах хэмrээг тогтоодог
                          байгаа.
                        </div>
                      </div>
                    </div>
                    <div class="card mb-2">
                      <div class="p-3" id="faqFive">
                        <h4 class="mb-0">
                          <a href="#!" class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <i class="fa fa-plus-circle me-1 "></i>
                            Зээлээ хэрхэн сунгах вэ?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="faqFive"
                        data-bs-parent="#Faqaccordionsone">
                        <div class="card-body border-top">
                          Өнөөдрийнх хүртэл ашигласан хоногийн хүүгээ төлөөд ,зээл
                          сунгах маягт бөглөн сунгалт хийх боломжтой. Дараах 3 хувилбараас сонгон
                          сунгалт хийх боломжтой.
                          <br>
                          1. Эргэн төлөлтийн хугацааг арай урт болгож сарын төлөлтийг багасгах
                          <br>
                          2. Сар бүр хүүгээ төлж яваад шинээр зээлийн хуваарь үүсгэх
                          <br>
                          3. Төлөлт хийхгүйгээр шинэ зээлийн хуваарьт хуримтлагдсан хүүг шингээж төлөх
                          <br>
                          Энэ нь зөвхөн СЗХ-ны шийдвэрийн дагуу 2021-07-01 хүртэл сунгах хүсэлт
                          авах боломжтой.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}