{% extends 'web/turshilt/base.html' %} {% block content %}
<main>
  <section>
    <div class="position-relative">
      <ul class="controls " id="sliderFirstControls">
        <li class="prev">
          <i class="fas fa-angle-left"></i>
        </li>
        <li class="next">
          <i class="fas fa-angle-right"></i>
        </li>
      </ul>
      <div class="sliderFirst">
        <div class="item">
          <div class="py-22"
            style="background: url(../assets/images/slider/1.jpg)no-repeat; background-size: cover;">
            <div class="container">
              <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                  <div>
                    <!-- slider-captions -->
                    <h1 class="display-2 text-warning fw-bold">ЧАМАЙГ ДЭМЖЬЕ!</h1>
                    <p class=" d-none d-xl-block d-lg-block d-sm-block text-success">“НӨМӨР”- ИЙН АХ ЭГЧ НАР НЬ
                      СТРАТЕГИЙН ХҮРЭЭНД ОЮУТАН ДҮҮ НАРАА ДЭМЖИХ ХҮСЭЛ МӨРӨӨДӨЛДӨӨ ХҮРЭХЭД НЬ ТУСЛАХ ЗОРИЛГООР
                      “ЧАМАЙГ ДЭМЖЬЕ!” ХӨТӨЛБӨРИЙГ ЭХЛҮҮЛЭЭД БАЙНА.</p>
                    <a href="https://oyutan.numur.mn/auth/login/" class="btn btn-primary">Бүртгүүлэх</a>
                  </div>
                  <!-- /.slider-captions -->
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="item">
          <div class="py-22"
            style="background: url(../assets/images/slider/3.jpg)no-repeat; background-size: cover;">
            <div class="container">
              <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 col-12">
                  <div>
                    <!-- slider-captions -->
                    <h1 class="display-2 text-warning fw-bold">ЧАМАЙГ ДЭМЖЬЕ!</h1>
                    <p class=" d-none d-xl-block d-lg-block d-sm-block text-success">“НӨМӨР”- ИЙН АХ ЭГЧ НАР НЬ
                      СТРАТЕГИЙН ХҮРЭЭНД ОЮУТАН ДҮҮ НАРАА ДЭМЖИХ ХҮСЭЛ МӨРӨӨДӨЛДӨӨ ХҮРЭХЭД НЬ ТУСЛАХ ЗОРИЛГООР
                      “ЧАМАЙГ ДЭМЖЬЕ!” ХӨТӨЛБӨРИЙГ ЭХЛҮҮЛЭЭД БАЙНА.</p>
                    <a href="https://oyutan.numur.mn/auth/login/" class="btn btn-primary ">Бүртгүүлэх</a>
                  </div>
                  <!-- /.slider-captions -->
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="item">
          <div class="py-22"
            style="background: url(../assets/images/slider/1.jpg)no-repeat; background-size: cover;">
            <div class="container">
              <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                  <div>
                    <!-- slider-captions -->
                    <h1 class="display-2 text-warning fw-bold">ЧАМАЙГ ДЭМЖЬЕ!</h1>
                    <p class=" d-none d-xl-block d-lg-block d-sm-block text-success">“НӨМӨР”- ИЙН АХ ЭГЧ НАР НЬ
                      СТРАТЕГИЙН ХҮРЭЭНД ОЮУТАН ДҮҮ НАРАА ДЭМЖИХ ХҮСЭЛ МӨРӨӨДӨЛДӨӨ ХҮРЭХЭД НЬ ТУСЛАХ ЗОРИЛГООР
                      “ЧАМАЙГ ДЭМЖЬЕ!” ХӨТӨЛБӨРИЙГ ЭХЛҮҮЛЭЭД БАЙНА.</p>
                    <a href="https://oyutan.numur.mn/auth/login/" class="btn btn-primary">Бүртгүүлэх</a>
                  </div>
                  <!-- /.slider-captions -->
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </section>
  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 col-md-12 col-12">
          <div class="mb-10 text-center ">
            <h1 class="mb-1 text-warning">ХӨТӨЛБӨР ДАРААХ ХЭСГҮҮДЭЭС БҮРДЭНЭ.
            </h1>
            <!-- <p> Our mission is to deliver reliable, latest news and opinions.</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="blog-single.html"><img src="../assets/images/specials/student_program.jpg"
                  alt="student_program  " class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="blog-single.html" class="imghover"><img
                  src="../assets/images/specials/student_program_loan.jpg" alt="student_program_loan"
                  class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="blog-single.html" class="imghover"><img src="../assets/images/specials/student_work.jpg"
                  alt="student_work" class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8  col-md-12 col-12">
          <div class="mb-10 text-center">
            <!-- section title start-->
            <h1>СУРГАЛТЫН ТӨЛБӨРИЙН ЗЭЭЛ</h1>
            <p class="lead">ХҮҮ БАГАТАЙ, ШИМТГЭЛГҮЙ, 24-72 ЦАГИЙН ХУГАЦААНД ШИЙДЭГДЭНЭ.
            </p>
            <img src="../assets/images/specials/surgaltiin_tulbur.jpg" class="img-fluid">
          </div>
          <!-- /.section title start-->
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
          <div class="card border-0 smooth-shadow-sm text-center rounded-pill">
            <div class="card-body">
              <h3 class="mb-3">ЗЭЭЛИЙН МЭДЭЭЛЭЛ</h3>
              <ul class="list-unstyled  mb-0">
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i><span
                    class="text-success bold">ХАМРАХ ХҮРЭЭ: </span>МУИС,
                  МУБИС, ШУТИС, СУИС, АШУҮИС, ХААИС, СЭЗИС, ХУИ</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i><span
                    class="text-success bold">ЗЭЭЛИЙН ХЭМЖЭЭ: </span>500МЯНГААС 4САЯ ХҮРТЭЛ ТУХАЙН
                  НЭХЭМЖЛЭХИЙН ДАГУУ</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i><span
                    class="text-success bold">ЗЭЭЛИЙН ХҮҮ: </span>1.65% - 1.8%
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i><span
                    class="text-success bold">ХУГАЦАА: </span>9 сар хүртлэх
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i><span
                    class="text-success bold">НЭМЭГДҮҮЛСЭН ХҮҮ: </span>Үндсэн хүүгийн 20%-тай тэнцэх ба шимтгэл нь 0
                </li>
              </ul>
              <p class="italic">ЖИЧ: Хамтрагч байгууллагуудын баклаврын өдрийн ангид суралцаж буй оюутнууд зээлийн
                үйлчилгээнд хамрагдах боломжтой
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 mb-3">
          <div class="card border-0 smooth-shadow-sm">
            <div class="card-body">
              <h3 class="mb-3">Documentes needs</h3>
              <ul class="list-unstyled  mb-0">
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Passport</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Voter ID card</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Driving license</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>PAN card</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Bank account statement</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Latest electricity bill</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Latest mobile/telephone bill</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Existing house lease agreement
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-4 col-12">
          <div class="card border-0 smooth-shadow-sm">
            <div class="card-body">
              <h3 class="mb-3">Download Forms</h3>
              <ul class="list-unstyled  mb-0">
                <li class="mb-1"><a href="#!" class="text-inherit"><i
                      class="bi bi-file-pdf me-2 text-danger"></i>Education Loan Application form</a></li>
                <li class="mb-1"><a href="#!" class="text-inherit"><i
                      class="bi bi-file-pdf me-2 text-danger"></i>Education Loan Agreement</a></li>
                <li class="mb-1"><a href="#!" class="text-inherit"><i
                      class="bi bi-file-pdf me-2 text-danger"></i>Income
                    Certificate Issuing Authority</a></li>
                <li class="mb-1"><a href="#!" class="text-inherit"><i
                      class="bi bi-file-pdf me-2 text-danger"></i>Download Form Link</a></li>
                <li class="mb-1"><a href="#!" class="text-inherit"><i
                      class="bi bi-file-pdf me-2 text-danger"></i>Download Form Link</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4 mb-lg-0">
          <img src="../assets/images/specials/surgaltiin_tulburiin_zeel.png" alt="loan_program"
            class="img-fluid rounded-3 w-100 mb-2 mb-lg-0">
        </div>
        <div class="offset-lg-1 col-lg-5 col-md-12">
          <div class="mb-8">
            <h1>ТАВИГДАХ ШААРДЛАГА</h1>
          </div>
          <div class="d-flex mb-3">
            <div class="fs-3 text-warning"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>ШИНЭ ЭЛСЭГЧ:</h3>
              <ul class="list-unstyled  mb-0">
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>16-с дээш насны МУ-н иргэн байх
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Элсэлтийн шалгалтын дундаж оноо
                  600-с доошгүй
                  байх</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Зээлийн мэдээллийн санд муу
                  ангилалгүй байх
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран зээлдэгчтэй байх
                  (Эцэг/эх, асран
                  хамгаалагчаас сонгох)
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Сургуулийн бүртгэл баталгаажсан
                  байх
                  /Сургуулийн нэхэмжлэх/
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="fs-3 text-warning"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>ХУУЧИН ЭЛСЭГЧ:</h3>
              <ul class="list-unstyled  mb-0">
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>16-с дээш насны МУ-н иргэн байх
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Голч дүн 3.0-с дээш байх
                  байх</li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран ажиллах гэрээт их дээд
                  сургууль хамгийн багадаа 10 кредит хичээл сонгож сурсан байх
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран зээлдэгчтэй байх
                  (Эцэг/эх, асран хамгаалагчаас сонгох)
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="fs-3 text-warning"><i class="bi bi-check-circle-fill"></i></div>
            <div class="ms-3">
              <h3>БҮРДҮҮЛЭХ МАТЕРИАЛ:
              </h3>
              <ul class="list-unstyled  mb-0">
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Цахим үнэмлэх /Ар өвөргүй зургыг
                  тод авах/
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Элсэлтийн ерөнхий оноо эсвэл голч
                  дүнгийн баталгаажуулсан баримт.
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Төлбөрийн нэхэмжлэхийн эх хувь
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Тухайн улиралд судалж байгаа
                  хичээлийн баталгаажуулсан жагсаалт
                </li>
                <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Ирээдүйн зорилгоо тодорхойлох
                  эссэ(зээлд хамрагдсанаар нийгэмд үзүүлэх хувь нэмэр тухайн мэргэжлээр суралцсанаар ямар үр
                  дүнд хүрэх талаарх).Нэмэлтээр шаардлагатай тохиолдолд: Эцэг эх асран хамгаалагчийн орлого нотлох
                  баримт
                </li>
              </ul>

            </div>
          </div>
          <div class="d-flex">
            <h4><a href="oyutan.numur.mn" class="text-warning">oyutan.numur.mn</a> &nbsp; сайтаар хандан зээлийн
              хүсэлтээ
              илгээгээрэй.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-lg-16 py-10 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="mb-10 mb-lg-0">
            <h1 class="mb-4 text-warning">ТЭТГЭЛЭГТ ХӨТӨЛБӨР</h1>
            <div class="mb-4 d-flex">
              <div><i class="bi bi-check-circle-fill fs-3 text-success"></i></div>
              <div class="ms-3">
                <h3>Тэтгэлэг</h3>
                <p class="mb-0">Оюутан залуусын сурах болон мэргэших үйл ажиллагааг дэмжин жил бүр оюутны сургалтын
                  төлбөрийн зээлийн үйлчилгээнд
                  хамрагдсан оюутнууд тэтгэлэгт хөтөлбөрт хүсэлтээ илгээх боломжтой. Тэтгэлэгт хөтөлбөрийн хүрээнд 3
                  хүртэлх оюутанг
                  шалгаруулах бөгөөд тухайн жилийн сургалтын төлбөрийг 100% шийдэж өгнө.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="mb-4">
            <img src="../assets/images/specials/suuj_baiga_zurag.jpg" class="img-fluid rounded-4">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-lg-16 py-10 bg-white border-bottom border-top">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8  col-md-12 col-12">
          <div class="mb-10 text-center">
            <!-- section title start-->
            <h1>Үндсэн шаардлага:</h1>
            <p class="lead">Нөмөрийн сургалтын төлбөрийн зээлийн үйлчилгээнд хамрагдсан.
              Сар бүрийн эргэн төлөлтөө хугацаандаа төлдөг.</p>
          </div>
          <!-- /.section title start-->
        </div>
      </div>
    </div>
  </section>
  <section class="bg-success py-lg-16 py-10">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8  col-md-12 col-12">
          <div class="mb-10 text-center">
            <h1 class="text-white mb-1">ЦАГИЙН АЖИЛ</h1>
            <p class="text-white lead">“ЧАМАЙГ ДЭМЖЬЕ! ”ХӨТӨЛБӨРИЙН ХҮРЭЭНД ОЮУТНУУДАД ӨӨРИЙГӨӨ НЭЭХ, ТУРШЛАГАЖИХ,
              ХӨГЖИХ БОЛОМЖИЙГ БИЙ БОЛГОЖ ЦАГИЙН АЖЛЫН
              САНАЛ БОЛГОНО.</p>
          </div>
          <div class="mb-10 text-white lead">
            <ul>
              <li>Ажиллах хүсэлтэй аль ч сургуулийн 1-6-р курсын оюутан залуус хамрагдах</li>
              <li>Намир группын компаниудад тухайн үед нээлттэй байгаа ажлуудыг санал болгоно</li>
              <li>Хамтран ажиллах байгууллагууд дэмжин ажиллах</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}