{% extends 'web/turshilt/base.html' %} {% block content %}
{% load static %}
<main>
  <!-- Banner -->
  <section>
    <div class="position-relative">
      <ul class="controls " id="sliderFirstControls">
        <li class="prev">
          <i class="fas fa-angle-left"></i>
        </li>
        <li class="next">
          <i class="fas fa-angle-right"></i>
        </li>
      </ul>
      <!-- Slider -->
      <div class="sliderFirst">
        <div class="item">
          <div class="py-22"
            style="background: url('{% static '/images/slider/student.jpg' %}')no-repeat; background-size: cover;">
            <div class="container">
              <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                  <div>
                    <!-- slider-captions -->
                    <h1 class="display-2 text-warning fw-bold">ЧАМАЙГ ДЭМЖЬЕ!</h1>
                    <p class=" d-none d-xl-block d-lg-block d-sm-block text-success">“НӨМӨР”- ИЙН АХ ЭГЧ НАР НЬ
                      СТРАТЕГИЙН ХҮРЭЭНД ОЮУТАН ДҮҮ НАРАА ДЭМЖИХ ХҮСЭЛ МӨРӨӨДӨЛДӨӨ ХҮРЭХЭД НЬ ТУСЛАХ ЗОРИЛГООР
                      “ЧАМАЙГ ДЭМЖЬЕ!” ХӨТӨЛБӨРИЙГ ЭХЛҮҮЛЭЭД БАЙНА.</p>
                    <a href="https://oyutan.numur.mn/auth/login/" class="btn btn-primary">Хөтөлбөрт хамрагдах</a>
                  </div>
                  <!-- /.slider-captions -->
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
  <!-- Program section -->
  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 col-md-12 col-12">
          <div class="mb-10 text-center ">
            <h1 class="mb-1 text-success">ХӨТӨЛБӨР ДАРААХ ХЭСГҮҮДЭЭС БҮРДЭНЭ
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="#student_scholarship"><img src="{% static 'images/loan_type/student/student_scholarship.jpg'%}" alt="student_scholarship" class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="#student_loan" class="imghover"><img
                  src="{% static 'images/loan_type/student/student_loan.jpg'%}" alt="student_program_loan"
                  class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="#student_work" class="imghover"><img src="{% static 'images/loan_type/student/student_work.jpg'%}" alt="student_work" class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Сургалтын төлбөрийн зээл -->
  <section class="py-lg-14 py-10 bg-white" id="student_loan">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8  col-md-12 col-12">
          <div class="mb-5 text-center">
            <h1 class="text-warning">СУРГАЛТЫН ТӨЛБӨРИЙН ЗЭЭЛ</h1>
            <p class="lead">ХҮҮ БАГАТАЙ, ШИМТГЭЛГҮЙ, 24-72 ЦАГИЙН ХУГАЦААНД ШИЙДЭГДЭНЭ.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-6">
          <div class="card mb-4 mb-lg-0">
            <div>
              <a href="blog-single.html" class="imghover"><img
                  src="{% static 'images/loan_type/student/student_loan.jpg'%}" alt="student_program_loan"
                  class="img-fluid rounded-top-md"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 my-3">
          <ul class="list-group fs-5">
            <li class="bg-grey list-group-item">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-dark mb-3 mb-lg-0 fw-medium">
                  ХАМРАХ ХҮРЭЭ:
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                  <p class="mb-0"> МУИС, МУБИС, ШУТИС, СУИС, АШУҮИС, ХААИС, СЭЗИС, ХУИ</p>
                </div>
              </div>
            </li>
            <li class="list-group-item bg-light">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-dark mb-3 mb-lg-0 fw-medium">
                  ЗЭЭЛИЙН ХЭМЖЭЭ:
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                  <p class="mb-0">500МЯНГААС 4САЯ ХҮРТЭЛ ТУХАЙН
                    НЭХЭМЖЛЭХИЙН ДАГУУ
                  </p>
                </div>
              </div>
            </li>
            <li class="bg-grey list-group-item">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-dark mb-3 mb-lg-0 fw-medium">
                  ЗЭЭЛИЙН ХҮҮ:
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                  <p class="mb-0">
                    <span>1.65% - 1.8%</span>
                  </p>
                </div>
              </div>
            </li>
            <li class="list-group-item bg-light">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-dark mb-3 mb-lg-0 fw-medium">
                  ХУГАЦАА:
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                  <p class="mb-0">9 сар хүртлэх</p>
                </div>
              </div>
            </li>
            <li class="list-group-item bg-grey">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 text-dark mb-3 mb-lg-0 fw-medium">
                  НЭМЭГДҮҮЛСЭН ХҮҮ: 
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                  <p class="mb-0">Үндсэн хүүгийн 20%-тай тэнцэх ба шимтгэл нь 0</p>
                </div>
              </div>
            </li>
            <p class="italic mt-2">ЖИЧ: Хамтрагч байгууллагуудын баклаврын өдрийн ангид суралцаж буй оюутнууд зээлийн
              үйлчилгээнд хамрагдах боломжтой.
            </p>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Тавигдах шаардлага -->
  <section class="py-lg-16 py-10">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8  col-md-12 col-12">
          <div class="mb-5 text-center">
            <h1 class="text-success">ТАВИГДАХ ШААРДЛАГА</h1>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-4 mb-lg-0 align-self-start  mt-4">
          <img src="{% static 'images/loan_type/student/suuj_baiga_zurag.jpg' %}" alt="loan_program"
            class="img-fluid rounded-3 w-100 mb-2 mb-lg-0">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 mb-4 mb-lg-0 align-self-start">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
            <div class="accordion muse-collapes" id="accordionExample">
              <div class="card">
                <div class="card-header rounded-2 p-0" id="heading10">
                    <h2 class="mb-0 d-grid">
                        <button class="btn stu-btn btn-light btn-block text-start collapsed p-3 rounded-2"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapse20"
                            aria-expanded="true" aria-controls="collapse20">
                            <p class="fw-semi-bold text-uppercase text-center text-success mb-0">Шинэ элсэгч</p>
                        </button>
                    </h2>
                </div>
                <div id="collapse20" class="collapse show" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="card-body lh-lg">
                        <div class="col-lg-8">
                          <ul class="list-unstyled mb-0">
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>16-с дээш насны МУ-н иргэн байх
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Элсэлтийн шалгалтын дундаж оноо
                              600-с доошгүй
                              байх</li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Зээлийн мэдээллийн санд муу
                              ангилалгүй байх
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран зээлдэгчтэй байх
                              (Эцэг/эх, асран
                              хамгаалагчаас сонгох)
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Сургуулийн бүртгэл баталгаажсан байх /Сургуулийн нэхэмжлэх/
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header rounded-2 p-0" id="heading10">
                    <h2 class="mb-0 d-grid">
                        <button class="btn stu-btn btn-light btn-block text-start collapsed p-3 rounded-0"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapse21"
                            aria-expanded="false" aria-controls="collapse21">
                            <p class="fw-semi-bold text-uppercase text-center text-success mb-0">Хуучин элсэгч</p>
                        </button>
                    </h2>
                </div>
                <div id="collapse21" class="collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="card-body lh-lg">
                        <div class="col-lg-8">
                          <ul class="list-unstyled answer mb-0">
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>16-с дээш насны МУ-н иргэн байх
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Голч дүн 3.0-с дээш байх
                              байх</li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран ажиллах гэрээт их дээд
                              сургууль хамгийн багадаа 10 кредит хичээл сонгож сурсан байх
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран зээлдэгчтэй байх
                              (Эцэг/эх, асран хамгаалагчаас сонгох)
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header rounded-2 p-0" id="heading10">
                    <h2 class="mb-0 d-grid">
                        <button class="btn stu-btn btn-light btn-block text-start collapsed p-3 rounded-0"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapse22"
                            aria-expanded="false" aria-controls="collapse22">
                            <p class="fw-semi-bold text-uppercase text-center text-success mb-0">Бүрдүүлэх материал</p>
                        </button>
                    </h2>
                </div>
                <div id="collapse22" class="collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="card-body lh-lg">
                        <div class="col-lg-8">
                          <ul class="list-unstyled answer mb-0">
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Цахим үнэмлэх /Ар өвөргүй зургыг тод авах/
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Элсэлтийн ерөнхий оноо эсвэл голч дүнгийн баталгаажуулсан баримт.
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Төлбөрийн нэхэмжлэхийн эх хувь
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Тухайн улиралд судалж байгаа хичээлийн баталгаажуулсан жагсаалт
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Ирээдүйн зорилгоо тодорхойлох эссэ(зээлд хамрагдсанаар нийгэмд үзүүлэх хувь нэмэр тухайн мэргэжлээр суралцсанаар ямар үр дүнд хүрэх талаарх). 
                            </li>
                            <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Нэмэлтээр шаардлагатай тохиолдолд: Эцэг эх асран хамгаалагчийн орлого нотлох баримт
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              <a href="https://oyutan.numur.mn/auth/login/" class="btn btn-primary text-center">Зээлийн хүсэлт гаргах</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Тэтгэлэгт хөтөлбөр -->
  <section class="py-lg-16 py-10 bg-white" id="student_scholarship">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="mb-10 mb-lg-0">
            <h1 class="mb-4 text-warning text-center">ТЭТГЭЛЭГТ ХӨТӨЛБӨР</h1>
            <div class="mb-4 d-flex">
              <div><i class="bi bi-check-circle-fill fs-3 text-warning"></i></div>
              <div class="ms-3">
                <h3 class="fw-semi-bold">Тэтгэлэг</h3>
                <p class="mb-0">Оюутан залуусын сурах болон мэргэших үйл ажиллагааг дэмжин жил бүр оюутны сургалтын төлбөрийн зээлийн үйлчилгээнд хамрагдсан оюутнууд тэтгэлэгт хөтөлбөрт хүсэлтээ илгээх боломжтой. Тэтгэлэгт хөтөлбөрийн хүрээнд 3 хүртэлх оюутанг шалгаруулах бөгөөд тухайн жилийн сургалтын төлбөрийг 100% шийдэж өгнө. </p>
              </div>
            </div>
            <div class="mb-4 d-flex">
              <div><i class="bi bi-check-circle-fill fs-3 text-warning"></i></div>
              <div class="ms-3">
                <h3 class="fw-semi-bold">Үндсэн шаардлага</h3>
                <p class="mb-0">Нөмөрийн сургалтын төлбөрийн зээлийн үйлчилгээнд хамрагдсан. Сар бүрийн эргэн төлөлтөө хугацаандаа төлдөг байх.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="mb-4">
            <img src="{% static 'images/loan_type/student/student_scholarship.jpg' %}" class="img-fluid rounded-4">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Цагийн ажил -->
  <section class="py-lg-16 py-10" id="student_work">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="mb-4">
            <img src="{% static 'images/loan_type/student/student_work.jpg' %}" class="img-fluid rounded-4">
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="mb-10 mb-lg-0">
            <h1 class="mb-4 text-success text-center">ЦАГИЙН АЖИЛ</h1>
            <div class="mb-4 d-flex">
              <div class="ms-3">
                <p class="mb-3">"Чамайг дэмжье!" хөтөлбөрийн хүрээнд оюутнуудад өөрийгөө нээх, туршлагажих, хөгжих боломжийг бий болгоход тусалж, цагийн ажлыг санал болгоно.</p>
                <ul class="list-unstyled">
                  <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Ажиллах хүсэлтэй аль ч сургуулийн 1-6-р курсын оюутан залуус хамрагдах боломжтой.</li>
                  <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Намир группын компаниудад тухайн үед нээлттэй байгаа ажлуудыг санал болгоно.</li>
                  <li class="mb-1"><i class="bi bi-check-circle me-2 text-success"></i>Хамтран ажиллах байгууллагууд дэмжин ажиллах.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}